body{
    width: 100%;
    display: block;
}

header{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding: 10px;
    background-image: url(./pic\ dirt03.jpeg);
    background-repeat:inherit ;
    height: 300px;
    width: 100%;
}

nav{
    padding: 20px;
    text-align: center;
   
}

h1,p,h2,li{
    text-align: center;
color: rgb(9, 114, 15);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    margin: 5px;
    
}

a:link, a:visited{
    background-color: whitesmoke;
    color: rgb(14, 153, 83);
    border-radius: 5px;
    padding: 2px;
    text-decoration: none;
}

a:hover{
    background-color: silver;
}

.group{
   box-shadow: initial;
    padding: 50px;
}

img{
    width: 250px;
    height: 250px;
    margin: 5px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding: 5px;
    border-radius: 15px;
}

footer{
    /* background-color: rgb(51, 47, 47); */
    color: cornsilk;
    padding: 30px;
    text-align: center;
background-image: url(./picture\ dirt02.jpeg);
width: 100%;
}

.tap{
margin-bottom: 1px ;
}

.tag{
    margin-top:2px ;
    font-size: 10px;
}



ul{
    text-align: center;
}
.fab_fa_facebook{
    color: cornsilk;
}

.try{
    width: 20px;
    height: 20px;
    box-shadow: none;
}

.side{

    text-align: center;
}

.tr{
    width: 70px;
    height: 70px;
}
.waste{
    margin: 10px;
}
form{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



li{
    font-size: 20px;
    padding: 20px;
}
.images{
    margin-left: 30rem;
    width: 400px;
    height: 350px;
}
input{
    width: 250px;
    height: 30px;
    font-size: 15px;
}
section{
    margin: 1.5rem;
}
.btn,.submit{
    padding: 10px;
    color:white;
    border-radius: 50px;
    font-size: 1rem;
    
}
.but{
    background-color: none;
}
.contact{
    margin: 1rem;
    color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.change{
    background-color: rgb(192, 238, 192);
    border-radius: 20px;
    width: 500px;
    margin-left: 20rem;
    padding: 50px;
    
}
.reg{
      background-color: rgb(192, 238, 192);
    border-radius: 20px;
    width: 500px;
    margin-top: 5rem;
    padding: 10px;
}
select{
    border: 1px solid transparent;
    transition: border .25s cubic-bezier(.5,.25,.25,.75);
    padding-inline-end: var(--tds-select-padding_horizontal--end);
    border-radius: var(--tds-select-border_radius);
    border: 1px solid transparent;
}
.talk{
    margin-top: 90px;

}
